h2 {text-align: center; font-size: 50px; color: mediumpurple;}
body {background: moccasin; border: 10px solid purple; margin-left: 50px; margin-right: 50px; margin-bottom: 50px; margin-top: 50 px;}
form {font-style: italic; color: red; white-space: normal; background-color: turquoise;}
header {quotes: initial;}
legend {background-color: lawngreen; text-align: center; text-orientation: upright; text-shadow: tomato; font-style: oblique;}
input {border: yellow; width: 75px; margin-left: 100px; font-size: xx-large;}
label {font-size: xx-large; text-align: center; background-color: whitesmoke;}
title {font: xx-large; font-style: italic;}
tr {font-family: fantasy; border: violet; text-align: right; color: saddlebrown;}